<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Snoin</title>
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/html5shiv-printshiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/respond.matchmedia.addListener.min.js') }}"></script>
  <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav id="menu">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="page-scroll" href="#page-top">Snoin</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav id="bs-example-navbar-collapse-1">
      <ul class="nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">Team</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="header">
  <div>
    <div>
      <div class="intro-lead-in">어서오세요!</div>
      <div class="intro-heading">최고의 웹 서비스를 만드는 Snoin 입니다.</div>
      <a href="#services" class="page-scroll">우리가 하는 일</a>
    </div>
  </div>
</header>

<!-- Services Section -->
<section id="services">
  <div>
    <header>
      <div>
        <h2>Services</h2>
        <h3>Snoin은 다음과 같은 서비스를 제공합니다.</h3>
      </div>
    </header>
    <div>
      <div>
<span class="web">
<i></i>
<i></i>
</span>
        <h4>웹 서비스 개발</h4>
        <p>Snoin은 웹 개발을 주로 담당하는 개발 팀입니다. 전세계의 수많은 스타트업들이 사용하고 있는 최신 버전의 Python과 Flask를 사용하여 서비스를 개발합니다.</p>
      </div>
      <div>
<span class="responsive">
<i></i>
<i></i>
</span>
        <h4>반응형 웹</h4>
        <p>Snoin은 어떻게 하면 여러가지 환경에서 웹 서비스가 사용자에게 정보를 잘 전달할 수 있을지 생각합니다. CSS3과 JavaScript를 사용하여 반응성을 극대화 시킵니다.</p>
      </div>
      <div>
<span class="standard">
<i></i>
<i></i>
</span>
        <h4>웹 표준과 시멘틱</h4>
        <p>Snoin은 웹 표준을 중요시합니다. HTML5 표준을 준수하며, 문서의 시멘틱(Sementic)을 이뤄서 보다 검색엔진 등의 타 서비스 연동에 친화적인 서비스를 개발합니다.</p>
      </div>
    </div>
  </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div>
    <header>
      <div>
        <h2>Portfolio</h2>
        <h3>Snoin은 이제까지 여러가지 활동을 해왔습니다.</h3>
      </div>
    </header>
    <div>
      <div>
        <a href="#portfolioModal1" data-toggle="modal">
          <div>
            <div>
              <i></i>
            </div>
          </div>
          <img src="{{ url_for('static', filename='images/portfolio/roundicons.png') }}" alt="">
        </a>
        <div>
          <h4>Round Icons</h4>
          <p>Graphic Design</p>
        </div>
      </div>
      <div>
        <a href="#portfolioModal2" data-toggle="modal">
          <div>
            <div>
              <i></i>
            </div>
          </div>
          <img src="{{ url_for('static', filename='images/portfolio/startup-framework.png') }}" alt="">
        </a>
        <div>
          <h4>Startup Framework</h4>
          <p>Website Design</p>
        </div>
      </div>
      <div>
        <a href="#portfolioModal3" data-toggle="modal">
          <div>
            <div>
              <i></i>
            </div>
          </div>
          <img src="{{ url_for('static', filename='images/portfolio/treehouse.png') }}" alt="">
        </a>
        <div>
          <h4>Treehouse</h4>
          <p>Website Design</p>
        </div>
      </div>
      <div>
        <a href="#portfolioModal4" data-toggle="modal">
          <div>
            <div>
              <i></i>
            </div>
          </div>
          <img src="{{ url_for('static', filename='images/portfolio/golden.png') }}" alt="">
        </a>
        <div>
          <h4>Golden</h4>
          <p>Website Design</p>
        </div>
      </div>
      <div>
        <a href="#portfolioModal5" data-toggle="modal">
          <div>
            <div>
              <i></i>
            </div>
          </div>
          <img src="{{ url_for('static', filename='images/portfolio/escape.png') }}" alt="">
        </a>
        <div>
          <h4>Escape</h4>
          <p>Website Design</p>
        </div>
      </div>
      <div>
        <a href="#portfolioModal6" data-toggle="modal">
          <div>
            <div>
              <i></i>
            </div>
          </div>
          <img src="{{ url_for('static', filename='images/portfolio/dreams.png') }}" alt="">
        </a>
        <div>
          <h4>Dreams</h4>
          <p>Website Design</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about">
  <div>
    <header>
      <div>
        <h2>About</h2>
        <h3>Snoin은 이런 팀입니다.</h3>
      </div>
    </header>
    <div>
      <div>
        <ul>
          <li>
            <div class="image">
              <img src="{{ url_for('static', filename='images/about/1.jpg') }}" alt="">
            </div>
            <div class="panel">
              <hgroup>
                <h4>????</h4>
                <h5>꺄울!</h5>
              </hgroup>
              <div>
                <p>Snoin은 본디 꺄울이란 이름으로 시작했습니다. 당시 꺄울 캐스트 등의 웹 서비스를 운영했습니다.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="image">
              <img src="{{ url_for('static', filename='images/about/2.jpg') }}" alt="">
            </div>
            <div class="panel">
              <hgroup>
                <h4>????</h4>
                <h5>Snoin!</h5>
              </hgroup>
              <div>
                <p>Snoin은 새로운 서비스를 시작하고자 팀 이름을 Snoin으로 바꾸었습니다.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="image">
              <img src="{{ url_for('static', filename='images/about/3.jpg') }}" alt="">
            </div>
            <div class="panel">
              <hgroup>
                <h4>????</h4>
                <h5>Snoin File Storage</h5>
              </hgroup>
              <div>
                <p>Snoin이 선보였던 웹 클라우드 서비스 입니다!</p>
              </div>
            </div>
          </li>
          <li>
            <div class="image">
              <img src="{{ url_for('static', filename='images/about/4.jpg') }}" alt="">
            </div>
            <div class="panel">
              <hgroup>
                <h4>2015 가을</h4>
                <h5>웹 서비스 제작 서비스 시작</h5>
              </hgroup>
              <div>
                <p>그간의 서비스로 실력을 갈고 닦은 스노인이 이제 고객님들께 웹 서비스를 제작해드리기 시작합니다!</p>
              </div>
            </div>
          </li>
          <li class="inverted">
            <div class="image">
              <h4>우리의
                <br>이야기는
                <br>계속됩니다!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Team Section -->
<section id="team">
  <div>
    <header>
      <div>
        <h2>Our Amazing Team</h2>
        <h3>Snoin의 일원들을 소개합니다.</h3>
      </div>
    </header>
    <div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/sjkoon.jpg') }}" alt="">
          <h4>조 상진</h4>
          <p>대표</p>
          <ul>
            <li><a href="https://www.facebook.com/jinsangc"><i class="facebook"></i></a></li>
            <li><a href="https://github.com/sjkoon"><i class="github"></i></a></li>
            <li><a href="http://sjkoon.com/"><i class="link"></i></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <img src="{{ get_gravatar_image('LoveHoly') }}" alt="">
          <h4>이 수정</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/LuvHoli"><i class="twitter"></i></a></li>
            <li><a href="https://github.com/LoveHoly"><i class="github"></i></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/marnitto.jpg') }}" alt="">
          <h4>임 지혁</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/marnitto"><i class="twitter"></i></a></li>
            <li><a href="https://github.com/marnitto"><i class="github"></i></a></li>
            <li><a href="http://marnitto.tumblr.com/"><i class="tumblr"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <img src="{{ get_gravatar_image('item4dev') }}" alt="">
          <h4>김 진수</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/item4"><i class="twitter"></i></a></li>
            <li><a href="https://github.com/item4"><i class="github"></i></a></li>
            <li><a href="https://item4.github.io/"><i class="link"></i></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <img src="{{ get_gravatar_image('ecmaxp') }}" alt="">
          <h4>이 상규</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/ecmaxp"><i class="twitter"></i></a></li>
            <li><a href="https://github.com/ecmaxp"><i class="github"></i></a></li>
            <li><a href="https://ecmaxp.pe.kr/"><i class="link"></i></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/rpdladps.png') }}" alt="">
          <h4>박 형관</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/rpdladps"><i class="twitter"></i></a></li>
            <li><a href="https://github.com/rpdladps"><i class="github"></i></a></li>
            <li><a href="http://phk-laboratory.blogspot.com/"><i class="link"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div>
        <p>Snoin은 언제나 열린 마음으로 함께 일할 분들을 찾고 있습니다.</p>
      </div>
    </footer>
  </div>
</section>

<!-- Clients Aside -->
<!--
<section id="clients">
  <div>
    <div>
      <div>
        <a href="#">
          <img src="{{ url_for('static', filename='images/logos/envato.jpg') }}" alt="">
        </a>
      </div>
      <div>
        <a href="#">
          <img src="{{ url_for('static', filename='images/logos/designmodo.jpg') }}" alt="">
        </a>
      </div>
      <div>
        <a href="#">
          <img src="{{ url_for('static', filename='images/logos/themeforest.jpg') }}" alt="">
        </a>
      </div>
      <div>
        <a href="#">
          <img src="{{ url_for('static', filename='images/logos/creative-market.jpg') }}" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
-->

<section id="contact">
  <div>
    <header>
      <div>
        <h2>Contact Us</h2>
        <h3>Snoin과 함께 하시겠습니까? 지금 바로 아래 정보를 입력해주세요. 준비 후 연락 드리겠습니다.</h3>
      </div>
    </header>
    <div>
      <div>
        <form name="sentMessage" id="contactForm" novalidate>
          <div>
            <div class="inputs">
              <div class="left">
                <div>
                  <input type="text" placeholder="성함" id="name" required data-validation-required-message="이름을 입력해주세요.">
                  <p></p>
                </div>
                <div>
                  <input type="email" placeholder="E-mail 주소" id="email" required data-validation-required-message="e-mail 주소를 입력해주세요.">
                  <p></p>
                </div>
                <div>
                  <input type="tel" placeholder="전화번호 (선택)" id="phone">
                  <p></p>
                </div>
              </div>
              <div class="right">
                <div>
                  <textarea placeholder="남기실 말씀" id="message" required data-validation-required-message="전달할 내용을 입력해주세요."></textarea>
                  <p></p>
                </div>
              </div>
            </div>
            <footer>
              <output></output>
              <button type="submit">메시지 전송</button>
            </footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div>
    <div>
      <div class="copyright">
        <span>Copyright &copy; Snoin 2015~</span>
      </div>
      <div class="socials">
        <ul>
          <li><a href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


<div class="portfolio-modal" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div>
    <div class="close" data-dismiss="modal">
      <div>
        <div></div>
      </div>
    </div>
    <div class="container">
      <div>
        <div>
          <div>
            <h2>Snoin file Storage1</h2>
            <p class="item-intro">Snoin File Storage는 웹 클라우드 서비스입니다.</p>
            <img src="{{ url_for('static', filename='images/portfolio/roundicons-free.png') }}" alt="">
            <p>Snoin File Storage는 Snoin이 자체개발한 웹 클라우드 서비스입니다. 인터넷을 사용할 수 있는 곳이라면 어디서나 파일을 올리고 받을 수 있습니다</p>
            <ul>
              <li>Date: July 2014</li>
              <li>Client: Round Icons</li>
              <li>Category: Graphic Design</li>
            </ul>
            <button type="button" class="" data-dismiss="modal"><i></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div>
    <div class="close" data-dismiss="modal">
      <div>
        <div></div>
      </div>
    </div>
    <div class="container">
      <div>
        <div>
          <div>
            <h2>Snoin file Storage2</h2>
            <p class="item-intro">Snoin File Storage는 웹 클라우드 서비스입니다.</p>
            <img src="{{ url_for('static', filename='images/portfolio/roundicons-free.png') }}" alt="">
            <p>Snoin File Storage는 Snoin이 자체개발한 웹 클라우드 서비스입니다. 인터넷을 사용할 수 있는 곳이라면 어디서나 파일을 올리고 받을 수 있습니다</p>
            <ul>
              <li>Date: July 2014</li>
              <li>Client: Round Icons</li>
              <li>Category: Graphic Design</li>
            </ul>
            <button type="button" class="" data-dismiss="modal"><i></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div>
    <div class="close" data-dismiss="modal">
      <div>
        <div></div>
      </div>
    </div>
    <div class="container">
      <div>
        <div>
          <div>
            <h2>Snoin file Storage3</h2>
            <p class="item-intro">Snoin File Storage는 웹 클라우드 서비스입니다.</p>
            <img src="{{ url_for('static', filename='images/portfolio/roundicons-free.png') }}" alt="">
            <p>Snoin File Storage는 Snoin이 자체개발한 웹 클라우드 서비스입니다. 인터넷을 사용할 수 있는 곳이라면 어디서나 파일을 올리고 받을 수 있습니다</p>
            <ul>
              <li>Date: July 2014</li>
              <li>Client: Round Icons</li>
              <li>Category: Graphic Design</li>
            </ul>
            <button type="button" class="" data-dismiss="modal"><i></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div>
    <div class="close" data-dismiss="modal">
      <div>
        <div></div>
      </div>
    </div>
    <div class="container">
      <div>
        <div>
          <div>
            <h2>Snoin file Storage4</h2>
            <p class="item-intro">Snoin File Storage는 웹 클라우드 서비스입니다.</p>
            <img src="{{ url_for('static', filename='images/portfolio/roundicons-free.png') }}" alt="">
            <p>Snoin File Storage는 Snoin이 자체개발한 웹 클라우드 서비스입니다. 인터넷을 사용할 수 있는 곳이라면 어디서나 파일을 올리고 받을 수 있습니다</p>
            <ul>
              <li>Date: July 2014</li>
              <li>Client: Round Icons</li>
              <li>Category: Graphic Design</li>
            </ul>
            <button type="button" class="" data-dismiss="modal"><i></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div>
    <div class="close" data-dismiss="modal">
      <div>
        <div></div>
      </div>
    </div>
    <div class="container">
      <div>
        <div>
          <div>
            <h2>Snoin file Storage5</h2>
            <p class="item-intro">Snoin File Storage는 웹 클라우드 서비스입니다.</p>
            <img src="{{ url_for('static', filename='images/portfolio/roundicons-free.png') }}" alt="">
            <p>Snoin File Storage는 Snoin이 자체개발한 웹 클라우드 서비스입니다. 인터넷을 사용할 수 있는 곳이라면 어디서나 파일을 올리고 받을 수 있습니다</p>
            <ul>
              <li>Date: July 2014</li>
              <li>Client: Round Icons</li>
              <li>Category: Graphic Design</li>
            </ul>
            <button type="button" class="" data-dismiss="modal"><i></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="portfolio-modal" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div>
    <div class="close" data-dismiss="modal">
      <div>
        <div></div>
      </div>
    </div>
    <div class="container">
      <div>
        <div>
          <div>
            <h2>Snoin file Storage6</h2>
            <p class="item-intro">Snoin File Storage는 웹 클라우드 서비스입니다.</p>
            <img src="{{ url_for('static', filename='images/portfolio/roundicons-free.png') }}" alt="">
            <p>Snoin File Storage는 Snoin이 자체개발한 웹 클라우드 서비스입니다. 인터넷을 사용할 수 있는 곳이라면 어디서나 파일을 올리고 받을 수 있습니다</p>
            <ul>
              <li>Date: July 2014</li>
              <li>Client: Round Icons</li>
              <li>Category: Graphic Design</li>
            </ul>
            <button type="button" class="" data-dismiss="modal"><i></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
