<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Snoin</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}">
  <!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='dist/node_modules/html5shiv/dist/html5shiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/node_modules/html5shiv/dist/html5shiv-printshiv.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/node_modules/respond.js/dest/respond.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/node_modules/respond.js/dest/respond.matchmedia.addListener.min.js') }}"></script>
  <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav id="menu">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="header">
      <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="page-scroll" href="#page-top">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav id="bs-example-navbar-collapse-1">
      <ul class="nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#features">Features</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#team">Team</a>
        </li>
        <li>
          <a class="page-scroll" href="#service">Service</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="header">
  <div>
    <div>
      <div class="intro-lead-in">어서오세요!</div>
      <div class="intro-heading">최고의 웹 서비스를 만드는 Snoin 입니다.</div>
      <a href="#features" class="page-scroll">우리가 하는 일</a>
    </div>
  </div>
</header>

<!-- Features Section -->
<section id="features">
  <div>
    <header>
      <div>
        <h2>Features</h2>
        <h3>Snoin은 이런 일을 합니다.</h3>
      </div>
    </header>
    <div>
      <div>
<span class="web" aria-hidden="true">
<i aria-hidden="true"></i>
<i aria-hidden="true"></i>
</span>
        <h4>웹 서비스 개발</h4>
        <p>IoT(사물인터넷:Internet of Things) 시대에 웹 보다 범용적인 접근 수단은 없습니다.</p>
        <p>Snoin은 전 세계 수 많은 기업들이 채택하고, 탁월한 생산성이 입증된 최신 버전의 프로그래밍 언어와 개발 프레임워크 등을 사용하여 <b>범용적</b>이고 <b>안정적인 서비스</b>를 보다 <b>빠르게</b> 개발합니다.</p>
      </div>
      <div>
<span class="responsive" aria-hidden="true">
<i aria-hidden="true"></i>
<i aria-hidden="true"></i>
</span>
        <h4>모바일 사이트와 반응형 웹</h4>
        <p>모바일 시대가 열렸지만 아직도 모바일 페이지를 그저 "작은 웹 페이지" 정도로 여기는 회사들이 많습니다.</p>
        <p>Snoin은 스마트폰 등 다양한 기기와의 호환성을 극대화 시키는 <b>반응형 웹</b>으로 개발하여, 사이트 방문자들로 하여금 보다 <b>편리한 사용자 경험(UX)</b>를 제공합니다.</p>
      </div>
      <div>
<span class="standard" aria-hidden="true">
<i aria-hidden="true"></i>
<i aria-hidden="true"></i>
</span>
        <h4>웹 표준과 시멘틱</h4>
        <p>기기들이 다양해지는 시대에 표준을 지키지 않은 사이트는 살아남을 수 없습니다.</p>
        <p>Snoin은 사이트의 <b>웹 표준을 준수</b>하며, <b>시멘틱 구조</b>(Sementic Structure)를 중요시 합니다. 이미 구글 등 세계적인 사이트들은 체계적인 시멘틱 구조 문서를 보다 <b>상위에 노출</b>하고 있습니다.</p>
      </div>
    </div>
    <div>
      <div>
<span class="security" aria-hidden="true">
<i aria-hidden="true"></i>
<i aria-hidden="true"></i>
</span>
        <h4>보안</h4>
        <p>과거의 웹 에이전시들은 비밀번호 등의 위험한 정보를 아예 암호화하지 않거나, 취약한 방법을 사용해 문제가 발생했습니다.</p>
        <p>Snoin은 기본적으로 보안 전문가들이 인증한 방식으로 개인정보를 다루며, 국내법에서 암호화해서 취급하도록 되어있는 정보들 또한 안전하게 취급할 수 있습니다.</p>
      </div>
      <div>
<span class="quality" aria-hidden="true">
<i aria-hidden="true"></i>
<i aria-hidden="true"></i>
</span>
        <h4>품질 관리</h4>
        <p>대부분의 웹 에이전시들은 사이트 개발을 빨리 끝내는 것이 목적일 뿐, 사이트 자체의 품질은 책임지지 않습니다.</p>
        <p>Snoin은 버전관리 시스템을 이용해서 어플리케이션을 관리하며, 질 높고 안정적인 서비스 제공에 힘쓰고 있습니다.</p>
      </div>
      <div>
<span class="consult" aria-hidden="true">
<i aria-hidden="true"></i>
<i aria-hidden="true"></i>
</span>
        <h4>최적화 컨설팅</h4>
        <p>Snoin은 단지 웹 사이트를 개발하는 데에 그치지 않습니다.</p>
        <p>저희는 분산 서비스 거부 공격(DDoS Attack)등에 대비하는 전략, 사이트의 고객들에게 보다 나은 웹 서핑 속도와 보다 안전한 웹 이용을 위한 전략을 제안해드립니다.</p>
      </div>
    </div>
  </div>

</section>

<!-- About Section -->
<section id="about">
  <div>
    <header>
      <div>
        <h2>About</h2>
        <h3>Snoin은 이런 팀입니다.</h3>
      </div>
    </header>
    <div>
      <div>
        <ul>
          <li>
            <div class="image">
              <img src="{{ url_for('static', filename='images/about/1.jpg') }}" alt="">
            </div>
            <div class="panel">
              <hgroup>
                <h4>2004 &ndash; 2008</h4>
                <h5>꺄울!</h5>
              </hgroup>
              <div>
                <p>Snoin은 꺄울이란 이름으로 시작되었습니다. <br> 음악 라디오 서비스인 꺄울캐스트와 호스팅 서비스를 운영했습니다.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="image">
              <img src="{{ url_for('static', filename='images/about/2.jpg') }}" alt="">
            </div>
            <div class="panel">
              <hgroup>
                <h4>2008 &ndash;</h4>
                <h5>Snoin!</h5>
              </hgroup>
              <div>
                <p>새로운 서비스를 시작하고자 팀 이름을 Snoin으로 바꾸었습니다. <br> 스노인은 눈사람을 의미하며, <br> 정성스레 눈사람을 만들던 추억처럼 <br> 웹서비스를 정성들여 만들겠다는 뜻이 담겨있습니다.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="image">
              <img src="{{ url_for('static', filename='images/about/3.jpg') }}" alt="">
            </div>
            <div class="panel">
              <hgroup>
                <h4>2008 &ndash; 2015</h4>
                <h5>Snoin File Storage</h5>
              </hgroup>
              <div>
                <p>Snoin이 선보였던 웹 클라우드 서비스 입니다! <br> 이미지와 영상 등 다양한 컨텐츠 보관 서비스를 제공했습니다.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="image">
              <img src="{{ url_for('static', filename='images/about/4.jpg') }}" alt="">
            </div>
            <div class="panel">
              <hgroup>
                <h4>2015 가을</h4>
                <h5>웹 서비스 제작 서비스 시작</h5>
              </hgroup>
              <div>
                <p>오랜 기간 서비스를 직접 기획·개발하고 운영했던 경험으로 <br> Snoin이 이제 고객님의 웹서비스를 완벽하게 제작해드립니다.</p>
              </div>
            </div>
          </li>
          <li class="inverted">
            <div class="image">
              <h4>우리의
                <br>이야기는
                <br>계속됩니다!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Team Section -->
<section id="team">
  <div>
    <header>
      <div>
        <h2>Our Amazing Team</h2>
        <h3>Snoin의 일원들을 소개합니다.</h3>
      </div>
    </header>
    <div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/sjkoon.jpg') }}" alt="">
          <h4>조 상진</h4>
          <p>대표</p>
          <ul>
            <li><a href="https://www.facebook.com/jinsangc"><i class="facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/sjkoon"><i class="github" aria-hidden="true"></i></a></li>
            <li><a href="http://sjkoon.com/"><i class="link" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/loveholy.jpg') }}" alt="">
          <h4>이 수정</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/LuvHoli"><i class="twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/LoveHoly"><i class="github" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/marnitto.jpg') }}" alt="">
          <h4>임 지혁</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/marnitto"><i class="twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/marnitto"><i class="github" aria-hidden="true"></i></a></li>
            <li><a href="http://marnitto.tumblr.com/"><i class="tumblr" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/item4.png') }}" alt="">
          <h4>김 진수</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/item4"><i class="twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/item4"><i class="github" aria-hidden="true"></i></a></li>
            <li><a href="https://item4.github.io/"><i class="link" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/ecmaxp.png') }}" alt="">
          <h4>이 상규</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/ecmaxp"><i class="twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/ecmaxp"><i class="github" aria-hidden="true"></i></a></li>
            <li><a href="http://ecmaxp.pe.kr/"><i class="link" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div>
        <div>
          <img src="{{ url_for('static', filename='images/team/rpdladps.png') }}" alt="">
          <h4>박 형관</h4>
          <p>개발자</p>
          <ul>
            <li><a href="https://twitter.com/rpdladps"><i class="twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/rpdladps"><i class="github" aria-hidden="true"></i></a></li>
            <li><a href="http://phk-laboratory.blogspot.com/"><i class="link" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div>
        <p>Snoin은 언제나 열린 마음으로 함께 일할 분들을 찾고 있습니다.</p>
      </div>
    </footer>
  </div>
</section>

<section id="service">
  <div>
    <header>
      <div>
        <h2>Service</h2>
        <h3>웹 사이트의 규모 산정, 쉽게 도와드리겠습니다</h3>
      </div>
    </header>
    <div>
      <div>
        <button type="button">웹사이트 계획 무료 자가진단하기</button>
        <form id="serviceForm">
          <h4>원하시는 사이트의 일일 방문자는 어느 정도 될 것 같으신가요?</h4>
          <label><input type="radio" name="visitant" value="그리 많지 않다"> 그리 많지 않다</label>
          <label><input type="radio" name="visitant" value="일일 1,000명 이상 방문한다"> 일일 1,000명 이상 방문한다</label>
          <label><input type="radio" name="visitant" value="일일 1,000,000명 이상 방문한다"> 일일 1,000,000명 이상 방문한다</label>

          <h4>사람이 몰릴 때는 동시에 몇 명이나 접속할 것 같나요?</h4>
          <label><input type="radio" name="max_connection" value="사람이 많이 몰리진 않을 것이다"> 사람이 많이 몰리진 않을 것이다</label>
          <label><input type="radio" name="max_connection" value="동시에 20명 이상 접속한다"> 동시에 50명 이상 접속한다</label>
          <label><input type="radio" name="max_connection" value="동시에 100명 이상 접속한다"> 동시에 100명 이상 접속한다</label>
          <label><input type="radio" name="max_connection" value="잘 모르겠다"> 잘 모르겠다</label>

          <h4>예상하는 방문자는 주로 어느 계층인가요?</h4>
          <label><input type="radio" name="user_env" value="계산용 POS기, 공장, 공공기관등의 Windows XP 환경"> 계산용 POS기, 공장, 공공기관등의 Windows XP 환경</label>
          <label><input type="radio" name="user_env" value="PC방, 가정집 등의 Windows 7 이상의 환경"> PC방, 가정집 등의 Windows 7 이상의 환경</label>
          <label><input type="radio" name="user_env" value="iPhone, Galaxy 등의 스마트폰"> iPhone, Galaxy 등의 스마트폰</label>
          <label><input type="radio" name="user_env" value="Mac OS X, Linux 등의 특수 환경"> Mac OS X, Linux 등의 특수 환경</label>
          <label><input type="radio" name="user_env" value="잘 모르겠다"> 잘 모르겠다</label>

          <h4>사이트가 모바일 환경(스마트폰)에서도 잘 보여야 하나요?</h4>
          <label><input type="radio" name="support_mobile" value="네"> 네</label>
          <label><input type="radio" name="support_mobile" value="아니오"> 아니오</label>

          <h4>어떤 기능들을 필요로 하시나요? 모두 골라주세요!</h4>
          <label><input type="checkbox" name="feature" value="회사 소개, 약력, 찾아오는 길 등의 자주 안바뀌는 소개 페이지"> 회사 소개, 약력, 찾아오는 길 등의 자주 안바뀌는 소개 페이지</label>
          <label><input type="checkbox" name="feature" value="공지사항, 자유게시판, QNA 등을 할 수 있는 게시판"> 공지사항, 자유게시판, QNA 등을 할 수 있는 게시판</label>
          <label><input type="checkbox" name="feature" value="회원 전용 기능, 관리자 전용 기능, 회원 관리를 위한 회원제 시스템"> 회원 전용 기능, 관리자 전용 기능, 회원 관리를 위한 회원제 시스템</label>
          <label><input type="checkbox" name="feature" value="페이스북, 카카오스토리, 트위터 등의 SNS와의 소셜 연동"> 페이스북, 카카오스토리, 트위터 등의 SNS와의 소셜 연동</label>
          <label><input type="checkbox" name="feature" value="(개인 혹은 단체를 대상으로) 문자 발송"> (개인 혹은 단체를 대상으로) 문자 발송</label>
          <label><input type="checkbox" name="feature" value="(개인 혹은 단체를 대상으로) 메일 발송"> (개인 혹은 단체를 대상으로) 메일 발송</label>
          <label><input type="checkbox" name="feature" value="자체 서비스 관련 예약 및 예약 정보 출력 기능"> 자체 서비스 관련 예약 및 예약 정보 출력 기능</label>
          <label><input type="checkbox" name="feature" value="블로그"> 블로그</label>
          <label><input type="checkbox" name="feature" value="쇼핑몰"> 쇼핑몰</label>
          <label><input type="checkbox" name="feature" value="동영상 서비스"> 동영상 서비스</label>
          <label><input type="checkbox" name="feature" value="다국어 지원"> 다국어 지원</label>
          <label><input type="checkbox" name="feature" value="보기에 없는 기능"> 보기에 없는 기능</label>

          <h4>개발비용은 어느정도로 생각하고 계신가요? 적절한 방법을 제시해드립니다.</h4>
          <label><input type="radio" name="price" value="300,000원 미만"> 300,000원 미만</label>
          <label><input type="radio" name="price" value="1,000,000원 미만"> 1,000,000원 미만</label>
          <label><input type="radio" name="price" value="1,000,000원 이상"> 1,000,000원 이상</label>
          <label><input type="radio" name="price" value="생각해본 적 없다"> 생각해본 적 없다</label>

          <h4>디자인은 어떻게 하실 생각이신가요?</h4>
          <label><input type="radio" name="design" value="의뢰한 곳에 디자이너 선임을 일임한다"> 의뢰한 곳에 디자이너 선임을 일임한다</label>
          <label><input type="radio" name="design" value="자체 디자이너를 구했거나 구할 생각이다"> 자체 디자이너를 구했거나 구할 생각이다</label>
          <label><input type="radio" name="design" value="특수한 사이트여서 디자인이 전혀 필요 없다"> 특수한 사이트여서 디자인이 전혀 필요 없다</label>

          <h4>유지보수 비용은 어느정도로 생각하고 계신가요?</h4>
          <label><input type="radio" name="maintenance" value="연 50,000원 이하"> 연 50,000원 이하</label>
          <label><input type="radio" name="maintenance" value="연 200,000원 이하"> 연 200,000원 이하</label>
          <label><input type="radio" name="maintenance" value="규모 변화에 따라 변하도록"> 규모 변화에 따라 변하도록</label>
          <label><input type="radio" name="maintenance" value="잘 모르겠다"> 잘 모르겠다</label>

          <h4>유지보수는 어떻게 하실 생각이신가요?</h4>
          <label><input type="radio" name="maintenance_company" value="개발한 곳에서 계속 해주었으면 한다"> 개발한 곳에서 계속 해주었으면 한다</label>
          <label><input type="radio" name="maintenance_company" value="자체적으로 하거나 다른 곳에 의뢰할 예정이다"> 자체적으로 하거나 다른 곳에 의뢰할 예정이다</label>
        </form>
      </div>
    </div>
    <footer>
      <div>
        <p>응답해주신 결과로 상담을 받아보세요! 알맞는 사이트를 제안해드립니다.</p>
        <p><a href="#contact" class="page-scroll">상담 신청</a></p>
      </div>
    </footer>
  </div>
</section>

<section id="contact">
  <div>
    <header>
      <div>
        <h2>Contact Us</h2>
        <h3>Snoin에게 의뢰 하시겠습니까? 지금 바로 아래 정보를 입력해주세요. 검토 후 회신 드리겠습니다.</h3>
      </div>
    </header>
    <div>
      <div>
        <form name="sentMessage" id="contactForm" novalidate>
          <div>
            <div class="inputs">
              <div class="left">
                <div>
                  <input type="text" placeholder="성함" id="name" required data-validation-required-message="이름을 입력해주세요.">
                  <p></p>
                </div>
                <div>
                  <input type="email" placeholder="E-mail 주소" id="email" required data-validation-required-message="e-mail 주소를 입력해주세요.">
                  <p></p>
                </div>
                <div>
                  <input type="tel" placeholder="전화번호 (선택)" id="phone">
                  <p></p>
                </div>
              </div>
              <div class="right">
                <div>
                  <textarea placeholder="남기실 말씀" id="message" required data-validation-required-message="전달할 내용을 입력해주세요."></textarea>
                  <p></p>
                </div>
              </div>
            </div>
            <footer>
              <output></output>
              <button type="submit">메시지 전송</button>
            </footer>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div>
    <div>
      <div class="copyright">
        <span>Copyright &copy; Snoin 2006 &ndash; 2015</span>
      </div>
      <div class="socials">
        <ul>
          <li><a href="https://twitter.com/snoin"><i class="twitter"></i></a>
          </li>
          <li><a href="https://www.facebook.com/snoincorp"><i class="facebook"></i></a>
          </li>
          <li><a href="https://github.com/Snoin/"><i class="github"></i></a>
          </li>
        </ul>
      </div>
      <div class="links">
        <ul>
          <li><a href="#">Privacy Policy</a>
          </li>
          <li><a href="#">Terms of Use</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="{{ url_for('static', filename='dist/app.js') }}"></script>
</body>
</html>
