[Unit]
Description=uWSGI daemon for snoin.com
After=syslog.target

[Service]
ExecStart=/home/snoinweb/.virtualenvs/snoin.com/bin/uwsgi --ini /home/snoinweb/snoin.com/deploy/snoin.com.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
