$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome.scss";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('../fonts/montserrat-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('../fonts/montserrat-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url('../fonts/roboto-slab-thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url('../fonts/roboto-slab-light.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url('../fonts/roboto-slab-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url('../fonts/roboto-slab-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Nanum Myeongjo';
  src: url('../fonts/nanummyeongjo-webfont.eot');
  src: url('../fonts/nanummyeongjo-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nanummyeongjo-webfont.woff2') format('woff2'),
  url('../fonts/nanummyeongjo-webfont.woff') format('woff'),
  url('../fonts/nanummyeongjo-webfont.ttf') format('truetype'),
  url('../fonts/nanummyeongjo-webfont.svg#nanummyeongjootfregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  src: url('../fonts/nanumbarungothic-webfont.eot');
  src: url('../fonts/nanumbarungothic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nanumbarungothic-webfont.woff2') format('woff2'),
  url('../fonts/nanumbarungothic-webfont.woff') format('woff'),
  url('../fonts/nanumbarungothic-webfont.ttf') format('truetype'),
  url('../fonts/nanumbarungothic-webfont.svg#nanumbarungothicotfregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nanum Pen Script';
  src: url('../fonts/nanumpen-webfont.eot');
  src: url('../fonts/nanumpen-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nanumpen-webfont.woff2') format('woff2'),
  url('../fonts/nanumpen-webfont.woff') format('woff'),
  url('../fonts/nanumpen-webfont.ttf') format('truetype'),
  url('../fonts/nanumpen-webfont.svg#nanum_pen_script_otfregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
